body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: #d14635;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Press Start 2P', cursive;
}

header h1{
color: white;
font-size: 50px;
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 20px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	float: left;
	width: 23%;
	padding: 5px;
	height: 300px;
	outline:2px solid #DDD;
  border:#a1a1a1;
  float:left;
	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

main img:hover{
	cursor:pointer;
    margin-top: 5px;
}

h2{
	font-size: 30px;
	color: #e70c19;
	margin: 40px 0 10px;
}


a{
	color: #e70c17;
}
a:hover{
	color: white;
	background-color: #483a94;
}

footer{
	background-color: #d14635;
	text-align: center;
	color: white;
	padding: 50px;
}
footer p{
	margin: 0;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}